
.center-align {
  text-align: center;
}

@media (max-width: 600px) {

  .table-cell-3,
  .table-cell-5,
  .table-cell-6,
  .table-cell-7,
  .table-cell-9,
  .table-cell-10,
  .table-cell-11,
  .table-cell-12,
  .table-cell-13 {
    display: none;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
  }
}
